body {
  margin:0;
  padding:0;
}

p {
	font-family: "MyriadProRegular", Tahoma;
	font-size:13px;
	color:#696c70;
}

h1 {
	font-family: "MyriadProRegular", Tahoma;
	font-size:13px;
	color:#b30f4b;
    padding-top:0px;
}
hr {
	color: #b30f4b;
}
.main {
	padding-top:-5px;
	margin: 0px;
}
.menu {
	padding-top:15px;
    background-color: white;
}
.menu1 {
	background-image:url(/img/menu1.png);
	overflow:hidden;
}
.menu_aktv {
	background-image:url(/img/aktv.png);
}
.menu_aktv a{
	font-family: "MyriadProRegular", Tahoma;
	font-size:12px; 
	color: #FFF;
	text-decoration:none;
    text-transform:uppercase;
    margin:0 3px;
}
.menu2 {
	border-left:1px solid #C7CCD3;
	background-image:url(/img/menu2.png);
}
.menu2 a{
	font-family: "MyriadProRegular", Tahoma;
	font-size:12px; 
	color: #b30f4b;
	text-decoration:none;
    text-transform:uppercase;
    margin:0 3px;
}
.menu2 a:hover {
	color: #696c70;
	text-decoration:underline;
}
.menu3 {
} 
.search {
	background-image:url(/img/menu2.png);
}
.content {
	padding-top:5px;
}
.left1 {
	font-family:"MyriadProRegular", Tahoma;
	font-size:14px;
	color:#696c70;
	padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    width: 335px;
    border: 1px solid #E1E1E1;
    margin-top:3px;
}
.left2 {
	margin-bottom:10px;
	margin-left:10px;
	margin-padding:10px;
	padding-left:10px;
}
.left2 p {
  font-size:14px;
}
.left3 {
    line-height:18px;
	font-family:"MyriadProRegular", Tahoma;
	font-size:15px;
	color:#FFF;
	background-image:url(/img/aktv.png); 
	padding-left:10px;
	padding-top:3px;
	padding-bottom:3px;
}
.left3 i {
  margin-top:3px;
}
.left4 {
	/*padding-top:15px;*/
}
.left4 p {
  font-size:13px;
}
.d a {
	color:#b30f4b;
	font-family:"MyriadProRegular", Tahoma;
	font-size:12px; 
	text-decoration:none;
}
.content1 {
    margin-top:3px;
	padding-bottom:38px;
	padding-left:10px;
    border: 1px solid #E1E1E1;
}
.sertifikat {
	border:1px solid #999;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px; 
	padding-bottom:10px;
}
.footer {
	background-color: #696c70;
}
.footer1 {
	overflow:hidden; 
	font-family: "MyriadProRegular", Tahoma;
	font-size:12px;
	color: #696c70; 
	text-decoration:none;
	padding-bottom:5px;
	padding-top:5px;
	padding-right: 15px;
	padding-left: 15px;
}
.footer1 li {
	float: left;
	list-style: none;
	padding-bottom:5px;
	padding-top:5px;
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid #696c70;
}
.footer1 a {
	font-family: "MyriadProRegular", Tahoma;
	font-size:11px;
	color: #696c70; 
	text-decoration:none;
    text-transform:uppercase;
}
.menu1 li {
	float: left;
	list-style: none;
	padding: 0 .8em;
	border-right: 1px solid #fff;
}
.menu1 {
    height:14px;
    line-height: 14px;
	font-family: "MyriadProRegular", Tahoma;
	font-size:11px; 
	color: #fff;
	text-decoration:none;
}
.menu1 a{
	font-family: "MyriadProRegular", Tahoma;
	font-size:12px; 
	color: #fff;
	text-decoration:none;
}
.menu1 a:hover {
	text-decoration:underline;
}
.content2 {
    padding:10px;
    width: 472px;
    height: 140px;
    float:left;
	margin-top:10px;
}
.content2 h1 {
    font-size: 16px;
    padding:0;
    margin: 0;
    font-weight: normal;
}
.content hr {
    margin-top: 10px;
    margin-bottom: 8px;
}
.content p {
    margin: 0;
    padding-bottom: 8px;
}
.gallery {
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.gallery img {
	border:0px;
	
}
.text {
	font-family:"MyriadProRegular";
	font-size:12px;
	color:#696c70;
}
.table1 td{
	text-align: center;
}
.table-header {
	background-color: #b30f4b;
	color:#fff;
	vertical-align:middle;
	text-align:center;
}
.table-td {
	text-align: left !important;
}

.fl {
  float:left;
}

.fr {
  float:right;
}

.searchbar {
  font-family: Tahoma;
  color:#8a8a8a;
  font-size:10px;
  border:none;
  background: no-repeat url('/img/search_bar.png') 0 -25px;
  height: 15px;
  width: 161px;
  padding:5px 10px 0 10px;
}

img {
  border: 0;
}

img.left {
  margin-right:5px;
}

img.right {
  margin-left:5px;
}

.contacts {
	font-size:13px; 
	font-family: "MyriadProRegular", Tahoma;
}
.contacts a {
	color: #b30f4b;
    text-decoration:none;
}
.contacts a:hover {
    text-decoration:underline;
}

.content1 img {
  display:block;
  float:left;
  margin: 0 10px 10px 0;
}

a.search{
  color: #b30f4b;
}

.certs img {
  display:inline;
  float:none;
  margin:0;
}
