- if !@images.empty?
  %tr
    %td{ :style => "padding-top:15px;" }
      %table.left4{ :cellspacing => "0", :width => "100%", :cellpadding => "0" }
        %tr
          %td.left3{ :align => "left" }
            %i
              Галлерея нашей продукции
        - @images.each do |item|
          %tr
            %td{ :style => "padding:10px 10px 0 10px;" }
              = link_to image_tag(item.image.url(:thumbnail), :alt => ''), item.image.url, :class => 'fancybox', :title => '', :rel => 'fancy'
:javascript
  $(function(){
    $('.fancybox').fancybox();
  });
