.content2{ :style => ('float:%s' % (defined?(float) && float ? 'left' : 'right'))}
  %div{ :style => 'padding-right: 10px;float:left;' }
    = image_tag item.image.url, :align => 'left'
  %div
    %h1=item.title
    %hr{ :color => "#b30f4b", :size => 1 }
    %p=truncate(item.content, 120)
    %div{ :style => "vertical-align: bottom" } 
    %p.d{ :align => 'right', :style => "vertical-align: bottom" }
      = link_to 'далее >>>', param_key_for(item) => item.id
