%table{ :cellspacing => "0", :border => "0", :width => "100%", :cellpadding => "0" }
  %tr
    %td.menu1{ :height => "8" }
  %tr
    %td{ :style => 'background-image: url(/img/menu2.png)' }
      .fl
        %table{ :cellspacing => "0", :border => "0", :width => "100%", :cellpadding => "0", :height => "25" }
          %tr.menu3
            - @menu_items.each do |item|
              %td{ :class => (@category == item ? 'menu_aktv' : 'menu2'),  :align => "center", :style => 'padding-top:5px'}
                = link_to item.title, { :action => :index, :category => item.id }
      .fr
        - form_tag({ :action => :search, :controller => :index}, { :method => :get }) do
          .search
            .fl
              %input.searchbar{ :name => "q", :type => "text", :value => "поиск по сайту"}
            .fl
              %input{ :name => "image",  :src => "/img/search.gif", :type => "image", :align => "left", :height => "25" }
  %tr
    %td.menu1{ :height => "28", :style => 'padding:7px' }
      - if @pages.size > 1
        - @pages.each do |item|
          = link_to item.title, { :page => item.id }
          - if item != @pages.last
            |


:javascript
  $(function(){
    var searchtext = '';
    $('.searchbar').focus(function(){
      $(this).val(searchtext);
    }).blur(function(){
      searchtext = $(this).val();
      if(!searchtext)
        $(this).val('поиск по сайту');
    });
  });
