- case @pages.size
  - when 0
    %p
      Создайте страницу
  - when 1
    = @pages.first.content
  - else
    - if defined?(@page)
      %h1= h @page.title
      = @page.content
    - else
      = render :partial => 'items'
